* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    /* overflow: hidden; */
    background-image: url("../images/backgroundMobile.png");
    background-repeat: no-repeat;
    position: relative;
    height: auto;
}

.container {
  position: relative;
}

#banner {
  position: relative;
  top: 100px;
  left: -34.4%;
  transition: 1s;
  transform: scale(0.3);
}

#button {
  position: fixed;
  top: 56%;
  left: 14%;
  background-color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-family: 'Roboto', sans-serif;
  color: black;
}

#button:hover {
  background-color: #555555;
  color: white;
}

.upwards {
  margin-top: -200px;
  transition-duration: 1s;
  transform: scale(1);
}

.start {
  transition-duration: 1s;
}

#accommodation {
  left: 5%;
  position: relative;
  width: 90%;
  height: 382px;
  background-color: #c8c8c8;
  border-radius: 25px;
  transition: 1s;
  top: 492px;
}

.moving {
  margin-top: -490px;
}

h1 {
  position: absolute;
  top: 8px;
  left: 13.5%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
}

#hotel{
  background-color: #808080;
  width: 65px;
  height: 30px;
  position: relative;
  top: 5%;
  left: 2.5%;
  border-radius: 10px;
}

#motel{
  background-color: #808080;
  width: 65px;
  height: 30px;
  position: relative;
  bottom: 3%;
  left: 26.6%;
  border-radius: 10px;
}

#house{
  background-color: #808080;
  width: 65px;
  height:30px;
  position: relative;
  bottom: 10.7%;
  left: 50.7%;
  border-radius: 10px;
}

#hostel{
  background-color: #808080;
  width: 65px;
  height: 30px;
  position: relative;
  bottom: 18.7%;
  left: 74.5%;
  border-radius: 10px;
  }

#location{
  background-color: white;
  width: 94.5%;
  height: 45px;
  position: relative;
  bottom: 12%;
  left: 2%;
  border: 1px solid #808080;
  border-radius: 10px;
}

  #location img {
    width: 20px;
    height: 20px;
    top: 13px;
    left: 10px;
    position: absolute;
  }

  #location h1 {
    position: absolute;
    top: 13px;
    left: 40px;
    color: #c8c8c8;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
  }

.checkIn{
  background-color: white;
  width: 94.5%;
  height: 45px;
  position: relative;
  bottom: 7%;
  left: 2%;
  border: 1px solid #808080;
  border-radius: 10px;
}

  .checkIn img {
    width: 20px;
    height: 20px;
    top: 13px;
    left: 10px;
    position: absolute;
  }

  .checkIn h1 {
    position: absolute;
    top: 13px;
    left: 40px;
    color: #c8c8c8;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
  }

  .checkInDD img {
    width: 20px;
    height: 20px;
    top: 13px;
    left: 88%;
    position: absolute;
  }

.checkOut{
  background-color: white;
  width: 94.5%;
  height: 45px;
  position: relative;
  bottom: 2%;
  left: 2%;
  border: 1px solid #808080;
  border-radius: 10px;
}

  .checkOut img {
    width: 20px;
    height: 20px;
    top: 13px;
    left: 10px;
    position: absolute;
  }

  .checkOut h1 {
    position: absolute;
    top: 13px;
    left: 40px;
    color: #c8c8c8;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
  }

  .checkOutDD img {
    width: 20px;
    height: 20px;
    top: 13px;
    left: 88

    %;
    position: absolute;
  }

.travellers{
  background-color: white;
  width: 94.5%;
  height: 45px;
  position: relative;
  top: 3%;
  left: 2%;
  border: 1px solid #808080;
  border-radius: 10px;
}

  .travellers img {
    width: 25px;
    height: 25px;
    top: 13px;
    left: 10px;
    position: absolute;
  }

  .travellers h1 {
    position: absolute;
    top: 13px;
    left: 40px;
    color: #c8c8c8;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
  }

  .travellersDD img {
    width: 20px;
    height: 20px;
    top: 13px;
    left: 88%;
    position: absolute;
  }

.search{
  background-color: #808080;
  width: 35%;
  height: 30px;
  position: relative;
  top: 8.5%;
  left: 31%;
  border: 1px solid #808080;
  border-radius: 10px;
}

      .search h1 {
        position: absolute;
        top: 4px;
        left: 14%;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        text-align: center;
      }

      label {
          display: block;
          font: 1rem 'Fira Sans', sans-serif;
      }

      input,
      label {
        position: relative;
        top: 5%;
        width: 94.5%;
        height: 45px;
          margin: .4rem 0;
      }

@media screen and (min-width: 768px) {

  body {
    background-image: url("../images/backgroundTablet.png");
  }

  #banner {
    width: 100px;
    height: 100px;
    position: relative;
    top: 390px;
    left: 8%;
    transition: 1s;
    transform: scale(0.6);
  }

  #button {
    height: 60px;
    left: 33%;
    top: 59%;
    font-size: 16px;
  }

  #accommodation {
    left: 6.5%;
    position: relative;
    width: 87%;
    height: 530px;
    top: 927px;
  }

  .upwards {
    margin-top: -370px;
    transition-duration: 1s;
    transform: scale(1);
  }

  .start {
    transition-duration: 1s;
  }

  .moving {
    margin-top: -350px;
  }

  h1 {
    left: 22%;
    font-size: 22px;
  }

  #hotel{
    width: 150px;
    height: 40px;
    top: 4%;
    left: 2.5%;
  }

  #motel{
    width: 150px;
    height: 40px;
    bottom: 3.5%;
    left: 26.6%;
  }

  #house{
    width: 150px;
    height:40px;
    bottom: 11.1%;
    left: 50.7%;
  }

  #hostel{
    width: 150px;
    height: 40px;
    }

  #location{
    width: 94.5%;
    height: 60px;
    bottom: 12%;
    left: 2%;
  }

    #location img {
      width: 30px;
      height: 30px;
      top: 13px;
      left: 10px;
      position: absolute;
    }

    #location h1 {
      top: 18px;
      left: 50px;
      font-size: 21px;
    }

  .checkIn{
    width: 94.5%;
    height: 60px;
    bottom: 7%;
    left: 2%;
  }

    .checkIn img {
      width: 30px;
      height: 30px;
      top: 13px;
      left: 10px;
      position: absolute;
    }

    .checkIn h1 {
      top: 10px;
      left: 50px;
      font-size: 21px;
    }

    .checkInDD img {
      left: 92%;
    }


          label {
              display: block;
              font: 1rem 'Fira Sans', sans-serif;
          }

          input {
            position: absolute;
            top: 5%;
            left: 15%;
            width: 94.5%;
            height: 45px;
              margin: .4rem 0;
          }

  .checkOut{
    width: 94.5%;
    height: 60px;
    bottom: 2%;
    left: 2%;
  }

    .checkOut img {
      width: 30px;
      height: 30px;
      top: 13px;
      left: 10px;
      position: absolute;
    }

    .checkOut h1 {
      top: 18px;
      left: 50px;
      font-size: 21px;
    }

    .checkOutDD img {
      left: 92%;
    }

  .travellers{
    width: 94.5%;
    height: 60px;
    top: 3%;
    left: 2%;
  }

    .travellers img {
      width: 30px;;
      height: 30px;;
      top: 13px;
      left: 10px;
      position: absolute;
    }

    .travellers h1 {
      top: 18px;
      left: 50px;
      font-size: 21px;
    }

    .travellersDD img {
      left: 92%;
    }

  .search{
    width: 35%;
    height: 45px;
    top: 9%;
    left: 32%;
  }

    .search h1 {
      top: 7px;
      left: 29%;
      font-size: 25px;
    }
}

@media screen and (min-width: 1900px) {

  body {
    background-image: url("../images/backgroundWeb.png");
  }

  #banner {
    width: 100px;
    height: 100px;
    position: relative;
    top: 370px;
    left: 23%;
    transition: 1s;
    transform: scale(0.85);
  }

  #button {
    height: 60px;
    left: 41%;
    top: 60%;
    font-size: 16px;
  }

  #accommodation {
    left: 13%;
    position: relative;
    width: 70%;
    height: 530px;
    top: 1105px;
  }

  .upwards {
    margin-top: -390px;
    transition-duration: 1s;
  }

  .start {
    transition-duration: 1s;
  }

  .moving {
    margin-top: -450px;
  }

  h1 {
    top: 10%;
    left: 26%;
    font-size: 27px;
  }

  #hotel{
    width: 220px;
    height: 40px;
    top: 4%;
    left: 2.5%;
  }

  #motel{
    width: 220px;
    height: 40px;
    bottom: 3.5%;
    left: 26.6%;
  }

  #house{
    width: 220px;
    height:40px;
    bottom: 11.1%;
    left: 50.7%;
  }

  #hostel{
    width: 220px;
    height: 40px;
    }

  #location{
    width: 94.5%;
    height: 60px;
    bottom: 12%;
    left: 2%;
  }

    #location img {
      width: 30px;
      height: 30px;
      top: 13px;
      left: 10px;
      position: absolute;
    }

    #location h1 {
      top: 18px;
      left: 60px;
      font-size: 24px;
    }

    input {
        border-radius: 10px;
          border: none;
          left: 51px;
          top: 0px;
          position: absolute;
          outline: none;
          font-size: 24px;
    }

    ::placeholder {
      color: #c8c8c8;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      border:none;
    }

  .checkIn{
    width: 94.5%;
    height: 60px;
    bottom: 7%;
    left: 2%;
  }

    .checkIn img {
      width: 30px;
      height: 30px;
      top: 13px;
      left: 10px;
      position: absolute;
    }

    .checkIn h1 {
      top: 18px;
      left: 60px;
      font-size: 24px;
    }

    .checkInDD img {
      left: 95%;
    }

  .checkOut{
    width: 94.5%;
    height: 60px;
    bottom: 2%;
    left: 2%;
  }

    .checkOut img {
      width: 30px;
      height: 30px;
      top: 13px;
      left: 10px;
      position: absolute;
    }

    .checkOut h1 {
      top: 18px;
      left: 60px;
      font-size: 24px;
    }

    .checkOutDD img {
      left: 95%;
    }

  .travellers{
    width: 94.5%;
    height: 60px;
    top: 3%;
    left: 2%;
  }

    .travellers img {
      width: 30px;;
      height: 30px;;
      top: 13px;
      left: 10px;
      position: absolute;
    }

    .travellers h1 {
      top: 18px;
      left: 60px;
      font-size: 24px;
    }

    .travellersDD img {
      left: 95%;
    }

  .search{
    width: 35%;
    height: 45px;
    top: 9%;
    left: 32%;
  }

    .search h1 {
      top: 7px;
      left: 29%;
      font-size: 25px;
    }

}
